.image {
  filter: brightness(65%);
}

.cardFooter {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}

.rating {
  display: flex;
  align-items: center;
  gap: 4px;
}

.price {
  font-weight: 700;
  font-size: 18px;
  color: rgb(17, 88, 17);
}
